@import url('https://fonts.googleapis.com/css2?family=Forum&family=Karla:wght@400;700&family=Montserrat:wght@400;700&family=Trocchi&display=swap');
$font-karla: 'Karla', sans-serif;
$font: 'Montserrat', sans-serif;
$color-gray: #363535;
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


@mixin aspect-ratio {
  position: relative;
  width: 100%;
  height: max-content;

  & > *:first-child {
    position: absolute;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

@mixin aspect-ratio-dimensions($width, $height) {
  padding-bottom: $height/$width * 100%;
}

@mixin aspect-ratio-pseudo($width, $height) {
  @include aspect-ratio;

  &:after {
    display: block;
    content: "";
    width: 100%;
    @include aspect-ratio-dimensions($width, $height);
  }
}

@mixin aspect-ratio-div($width, $height) {
  @include aspect-ratio;
  @include aspect-ratio-dimensions($width, $height);
  height: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app{
  font-family: $font;
  position: relative;
  box-sizing: border-box;
}

.header {
  position: absolute;
  z-index: 10;
  background-color: transparent;
  min-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

  &__media{
    padding: 0;
    margin:  0;
    display: flex;
    justify-content: flex-end;


    li{
      list-style-type: none;
      margin-right: 20px;
    }
  }
}

.banner{
  font-weight: bold;
  position: relative;
  min-height: 100vh;
  background-color: white;

  display: flex;
  align-items: center;
  padding: 50px;

  &__bg{
    position: absolute;
    right: 0;
    top: 0;
    width: 53%;
    height: 100%;

    @media (max-width: 600px) {
      width: 60%;
    }
  }

  &__img-wrap{
    @include aspect-ratio-dimensions(1, 1);
  }

  .container{
    z-index:  100;
  }

  &__title{
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 30px;

    @media (max-width: 900px) {
      font-size: 38px;
    }
    @media (max-width: 600px) {
      font-size: 28px;
    }
  }

  &__download{
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: #61dafb;
    color: $color-gray;

    @media (max-width: 600px) {
      padding: 10px 20px;
      width: 100%;
      font-size: 20px;
    }
  }

  &__media{
    padding: 0;
    margin: 0 0 50px 0;
    display: flex;


    li{
      list-style-type: none;
      margin-right: 20px;
    }
  }

  &__about{
    margin-bottom: 50px;
    color: $color-gray;

    @media (max-width: 600px) {
      margin-bottom: 25px;
    }
  }

  //&:before{
  //  content: '';
  //  width: 30%;
  //  height: 5px;
  //  position: absolute;
  //  right: 0;
  //  top: 70px;
  //  background-color: #61dafb;
  //}


  &:after{
    content: '';
    width: 60%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #61dafb;
  }
}

.work{
  background-color: white;
  position: relative;
  padding: 50px;

  &__title{
    position: relative;
    z-index: 10;
    max-width: fit-content;
    margin-bottom: 30px;

    &:after{
      content: "";
      z-index: -1;
      width: 100%;
      height: 65%;
      position: absolute;
      bottom: -10%;
      right: -22%;
      background-color: #61dafb;
    }
  }

  &:after{
    content: '';
    width: 45%;
    height: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #61dafb;
  }
}

@media (max-width: 600px) {

}